---
- name: Provision Cloud Resources
  hosts: all
  gather_facts: true
  become: yes

  vars_files:
    - "{{ playbook_dir }}/.env.yml"

  tasks:
    - name: Update System
      ansible.builtin.apt:
        update_cache: yes

    - name: Upgrade System
      ansible.builtin.apt:
        upgrade: "yes"

    - name: Install Tailscale
      ansible.builtin.shell: |
        curl -fsSL https://tailscale.com/install.sh | sh

    - name: Ensure tailscaled is running
      ansible.builtin.service:
        name: tailscaled
        state: started
        enabled: true
      become: true

    - name: Check Tailscale JSON status
      ansible.builtin.command: tailscale status --json
      register: ts_json
      changed_when: false
      become: true

    - name: Parse BackendState
      ansible.builtin.set_fact:
        ts_backend_state: "{{ (ts_json.stdout | from_json).BackendState | default('') }}"

    - name: Look up Auth Key
      ansible.builtin.set_fact:
        tailscale_auth_key: "{{ TAILSCALE_AUTH_KEY }}"

    - name: Tailscale up if not connected
      ansible.builtin.command: >
        tailscale up
        --authkey={{ tailscale_auth_key }}
        --advertise-exit-node
      become: true
      when: ts_backend_state in ['NeedsLogin', 'Stopped', 'NoState']

    - name: Install and Configure Prometheus
      ansible.builtin.include_role:
        name: prometheus.prometheus.prometheus
      vars:
        prometheus_config_file: "{{ playbook_dir | dirname }}/monitoring/prometheus.yml.j2"
        prometheus_storage_retention: "3d"

    - name: Install and Configure Node-Exporter
      ansible.builtin.include_role:
        name: prometheus.prometheus.node_exporter

    - name: Install Grafana Dependencies
      ansible.builtin.apt:
        name:
          - adduser
          - libfontconfig1
          - musl
        state: present
        update_cache: true

    - name: Download Grafana .deb
      ansible.builtin.get_url:
        url: "https://dl.grafana.com/grafana/release/12.4.0/grafana_12.4.0_22325204712_linux_amd64.deb"
        dest: "/tmp/grafana_12.4.0_22325204712_linux_amd64.deb"

    - name: Install Grafana .deb package
      ansible.builtin.apt:
        deb: "/tmp/grafana_12.4.0_22325204712_linux_amd64.deb"
        state: present

    - name: Enable and start Grafana
      ansible.builtin.service:
        name: grafana-server
        enabled: true
        state: started
