---
- name: Provision Cloud Resources
  hosts: all
  gather_facts: true
  become: yes

  tasks:
    # - name: Update System
    #   ansible.builtin.apt:
    #     update_cache: yes

    # - name: Upgrade System
    #   ansible.builtin.apt:
    #     upgrade: "yes"

    # - name: Install and Configure Prometheus
    #   ansible.builtin.include_role:
    #     name: prometheus.prometheus.prometheus
    #   vars:
    #     prometheus_config_file: "{{ playbook_dir }}/templates/prometheus.yml.j2"

    - name: Install Tailscale
      ansible.builtin.shell: |
        curl -fsSL https://tailscale.com/install.sh | sh

    - name: Check Tailscale JSON status
      ansible.builtin.command: sudo tailscale status --json
      register: ts_json
      changed_when: false

    - name: Tailscale up if not connected
      ansible.builtin.command:
        cmd: >
          sudo tailscale up
          --authkey={{ tailscale_auth_key }}
          --advertise-exit-node
      async: 30
      poll: 5
      when: ts_json.stdout is search('"BackendState":"Stopped"') or
        ts_json.stdout is search('"BackendState":"NeedsLogin"')
