---
- name: Provision Cloud Resources
  hosts: all
  gather_facts: false
  become: yes

  tasks:
    # - name: Update System
    #   ansible.builtin.apt:
    #     update_cache: yes

    # - name: Upgrade System
    #   ansible.builtin.apt:
    #     upgrade: "yes"

    - name: Install and Configure Prometheus
      prometheus.prometheus.prometheus:
        config_file: ./prometheus.yml.j2
