services:
  db:
    image: postgres:18
    container_name: postgres-server
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 127.0.0.1:${POSTGRES_PORT}:5432
    volumes:
      - ./pgdata:/var/lib/postgresql
    networks:
      - shared-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  db_init:
    image: postgres:18
    depends_on:
      db:
        condition: service_healthy
    networks:
      - shared-network
    volumes:
      - ./pginit:/pginit:ro
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    restart: "no"
    command: >
      bash -lc "
      psql -h postgres-server -U ${POSTGRES_USER} -d ${POSTGRES_DB} -f /pginit/initdb.sql
      "
      
networks:
  shared-network:
    external: true