name: Deploy Script
on:
    push:
        branches: [main]
permissions:
    contents: read

jobs:
    docker:
        uses: ./.github/workflows/docker-image.yml
    linter:
        uses: ./.github/workflows/pylintTelegram.yml
    tests:
        uses: ./.github/workflows/testPythonTelegram.yml
    deploy:
        name: Deploy to Server
        runs-on: ubuntu-latest
        needs: [docker, linter, tests]
        steps:
            - name: Connect runner to VPN
              uses: tailscale/github-action@v1
              with:
                  authkey: ${{ secrets.TS_AUTH_KEY }}

            - name: Deploy via SSH
              uses: appleboy/ssh-action@v0.1.6
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.SERVER_SSH_KEY }}
                  port: ${{ secrets.SERVER_SSH_PORT }}
                  script_stop: true
                  script: |
                      mkdir ./dummyfolder
