name: Test Docker image (telegramBot)
on: ['push', 'pull_request']

jobs:
    builds:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Build Docker image
              run: |
                    docker build -t my-docker-image:latest ./telegramBot