name: Test Docker images
on:
    workflow_call:

jobs:
    builds:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Build Docker image
              run: |
                  docker build -t my-docker-image:latest ./telegramBot
